In [1]:
# this cell is for local running; install findspark and pyspark first 
import os
os.environ['JAVA_HOME'] = 'D:\packages\jdk1.8\java-se-8u42-ri'

import findspark
findspark.init()

import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName('PySpark DataFrame From RDD').getOrCreate()

##### orders

In [2]:
order = spark.read.csv("orders.csv",header=True)
order.count()
order.show(3)
order.printSchema()

+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|SalesOrderID|SalesOrderDetailID|OrderDate|  DueDate|ShipDate|EmployeeID|CustomerID|  SubTotal|   TaxAmt| Freight|  TotalDue|ProductID|OrderQty|UnitPrice|UnitPriceDiscount|LineTotal|
+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
|       43659|                 1|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.6206|1971.5149|616.0984|23153.2339|      776|       1| 2024.994|                0| 2024.994|
|       43659|                 2|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.6206|1971.5149|616.0984|23153.2339|      777|       3| 2024.994|                0| 6074.982|
|       43659|                 3|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.6206|1971.5149|616.0984|23153.2339|      778|       1| 2024.994|                0| 2024.994|
+------------+------------------+---------+---------+--------+----------+----------+----------+---------+--------+----------+---------+--------+---------+-----------------+---------+
only showing top 3 rows

root
 |-- SalesOrderID: string (nullable = true)
 |-- SalesOrderDetailID: string (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- DueDate: string (nullable = true)
 |-- ShipDate: string (nullable = true)
 |-- EmployeeID: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- SubTotal: string (nullable = true)
 |-- TaxAmt: string (nullable = true)
 |-- Freight: string (nullable = true)
 |-- TotalDue: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- OrderQty: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- UnitPriceDiscount: string (nullable = true)
 |-- LineTotal: string (nullable = true)

In [3]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType



orders_schema = StructType([ \
    StructField("SalesOrderID",IntegerType(),True), \
    StructField("SalesOrderDetailID",IntegerType(),True), \
    StructField("OrderDate",StringType(),True), \
    StructField("DueDate", StringType(), True), \
    StructField("ShipDate", StringType(), True), \
    StructField("EmployeeID", IntegerType(), True), \
    StructField("CustomerID", IntegerType(), True), \
    StructField("SubTotal", FloatType(), True), \
    StructField("TaxAmt", FloatType(), True), \
    StructField("Freight",FloatType(),True), \
    StructField("TotalDue", FloatType(), True), \
    StructField("ProductID", IntegerType(), True), \
    StructField("OrderQty", IntegerType(), True), \
    StructField("UnitPrice", FloatType(), True), \
    StructField("UnitPriceDiscount", FloatType(), True), \
    StructField("LineTotal", FloatType(), True) \
  ])

orders = spark.read.csv("orders.csv",header=True,schema=orders_schema)
orders.printSchema()
orders.show(5)

root
 |-- SalesOrderID: integer (nullable = true)
 |-- SalesOrderDetailID: integer (nullable = true)
 |-- OrderDate: string (nullable = true)
 |-- DueDate: string (nullable = true)
 |-- ShipDate: string (nullable = true)
 |-- EmployeeID: integer (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- SubTotal: float (nullable = true)
 |-- TaxAmt: float (nullable = true)
 |-- Freight: float (nullable = true)
 |-- TotalDue: float (nullable = true)
 |-- ProductID: integer (nullable = true)
 |-- OrderQty: integer (nullable = true)
 |-- UnitPrice: float (nullable = true)
 |-- UnitPriceDiscount: float (nullable = true)
 |-- LineTotal: float (nullable = true)

+------------+------------------+---------+---------+--------+----------+----------+---------+---------+--------+---------+---------+--------+---------+-----------------+---------+
|SalesOrderID|SalesOrderDetailID|OrderDate|  DueDate|ShipDate|EmployeeID|CustomerID| SubTotal|   TaxAmt| Freight| TotalDue|ProductID|OrderQty|UnitPrice|UnitPriceDiscount|LineTotal|
+------------+------------------+---------+---------+--------+----------+----------+---------+---------+--------+---------+---------+--------+---------+-----------------+---------+
|       43659|                 1|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.621|1971.5149|616.0984|23153.234|      776|       1| 2024.994|              0.0| 2024.994|
|       43659|                 2|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.621|1971.5149|616.0984|23153.234|      777|       3| 2024.994|              0.0| 6074.982|
|       43659|                 3|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.621|1971.5149|616.0984|23153.234|      778|       1| 2024.994|              0.0| 2024.994|
|       43659|                 4|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.621|1971.5149|616.0984|23153.234|      771|       1| 2039.994|              0.0| 2039.994|
|       43659|                 5|5/31/2011|6/12/2011|6/7/2011|       279|      1045|20565.621|1971.5149|616.0984|23153.234|      772|       1| 2039.994|              0.0| 2039.994|
+------------+------------------+---------+---------+--------+----------+----------+---------+---------+--------+---------+---------+--------+---------+-----------------+---------+
only showing top 5 rows

##### products

In [4]:
product = spark.read.csv("products.csv",header=True)
product.count()
product.show(3)
product.printSchema()

+---------+-------------+--------------------+-------------+--------+------------+---------+-------------+
|ProductID|ProductNumber|         ProductName|    ModelName|MakeFlag|StandardCost|ListPrice|SubCategoryID|
+---------+-------------+--------------------+-------------+--------+------------+---------+-------------+
|      680|   FR-R92B-58|HL Road Frame - B...|HL Road Frame|       1|     1059.31|   1431.5|           14|
|      706|   FR-R92R-58|HL Road Frame - R...|HL Road Frame|       1|     1059.31|   1431.5|           14|
|      707|    HL-U509-R|Sport-100 Helmet,...|    Sport-100|       0|     13.0863|    34.99|           31|
+---------+-------------+--------------------+-------------+--------+------------+---------+-------------+
only showing top 3 rows

root
 |-- ProductID: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- ModelName: string (nullable = true)
 |-- MakeFlag: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- SubCategoryID: string (nullable = true)

In [5]:
products_schema = StructType([ \
    StructField("ProductID",IntegerType(),True), \
    StructField("ProductNumber",StringType(),True), \
    StructField("ProductName", StringType(), True), \
    StructField("ModelName", StringType(), True), \
    StructField("MakeFlag", IntegerType(), True), \
    StructField("StandardCost", FloatType(), True), \
    StructField("ListPrice", FloatType(), True), \
    StructField("SubCategoryID", IntegerType(), True) \
  ])

products = spark.read.csv("products.csv",header=True,schema=products_schema)
products.printSchema()
products.show(5)

root
 |-- ProductID: integer (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- ModelName: string (nullable = true)
 |-- MakeFlag: integer (nullable = true)
 |-- StandardCost: float (nullable = true)
 |-- ListPrice: float (nullable = true)
 |-- SubCategoryID: integer (nullable = true)

+---------+-------------+--------------------+-------------------+--------+------------+---------+-------------+
|ProductID|ProductNumber|         ProductName|          ModelName|MakeFlag|StandardCost|ListPrice|SubCategoryID|
+---------+-------------+--------------------+-------------------+--------+------------+---------+-------------+
|      680|   FR-R92B-58|HL Road Frame - B...|      HL Road Frame|       1|     1059.31|   1431.5|           14|
|      706|   FR-R92R-58|HL Road Frame - R...|      HL Road Frame|       1|     1059.31|   1431.5|           14|
|      707|    HL-U509-R|Sport-100 Helmet,...|          Sport-100|       0|     13.0863|    34.99|           31|
|      708|      HL-U509|Sport-100 Helmet,...|          Sport-100|       0|     13.0863|    34.99|           31|
|      709|    SO-B909-M|Mountain Bike Soc...|Mountain Bike Socks|       0|      3.3963|      9.5|           23|
+---------+-------------+--------------------+-------------------+--------+------------+---------+-------------+
only showing top 5 rows

##### join, groupby, aggregate

In [6]:
df=orders.join(products,orders.ProductID==products.ProductID,'inner')

df.groupby('ProductNumber').sum('LineTotal').show(7)

+-------------+------------------+
|ProductNumber|    sum(LineTotal)|
+-------------+------------------+
|   BK-R50B-48|265393.33514404297|
|   BK-R68R-60| 306177.9055786133|
|      HB-T928|12087.240280151367|
|    TG-W091-L| 94090.64196395874|
|   FR-M63B-44|129529.46362304688|
|   FR-M94B-42| 901590.2377929688|
|    SH-M897-S| 20364.99729537964|
+-------------+------------------+
only showing top 7 rows